*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section box */
.container{
    display: flex;
    height: 100vh;
    background-color:white;
    flex-direction: column;
}
 div{
    width: 1200px;
}

.box{
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 350px;
    background-color: rgb(45, 5, 45);
    background: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 50px;

}

.container .empty{
    width: 100vw;
    height: 240px;
    background-color: white;
}
.box h3{
    font-size: xx-large;
}

.box p{
    font-size: x-small;
    margin: 10px 0;
}

/* TableFooter */
.container TableFooter{
    width: 100vw;
}

